@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

.btn-delete {
    @apply bg-orange-600 text-white border-0 rounded px-4 py-2 transition-colors duration-200;
}

.btn-delete:hover {
    @apply bg-orange-500;
}